---
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="Daniel Power">
  <div class="container">
    <div class="sidebar">
      <div class="group">
        Social
        <a href="mailto:me+homepage@danielpower.ca"
          >Email <Icon name="mdi:email" /></a
        >
        <a href="https://www.instagram.com/ifcoffeethendan/"
          >Instagram <Icon name="mdi:instagram" /></a
        >
        <a href="https://www.mastodon.online/@CrispyUmbrella"
          >Mastodon <Icon name="mdi:mastodon" /></a
        >
      </div>

      <div class="group">
        Coding
        <a href="https://www.github.com/danielpower"
          >GitHub <Icon name="mdi:github" />
          <a href="https://open.kattis.com/users/crispyumbrella"
            >Kattis <Icon name="mdi:cat" />
          </a>
        </a>
      </div>

      <div class="group">
        Gaming
        <a href="https://www.steamcommunity.com/id/DanielPower/"
          >Steam <Icon name="mdi:steam" />
          <a href="https://osu.ppy.sh/users/10624401"
            >osu! <Icon name="mdi:circle-slice-8" />
          </a>
        </a>
      </div>
    </div>

    <div class="content">
      <p>
        Senior Software Developer @ <a href="https://www.colabsoftware.com"
          >CoLab Software</a
        ><br />
        Located in St. John's, Newfoundland, Canada 🇨🇦
      </p>

      <p>
        It's December, so I'm working on Advent of Code 2024 and catching up on
        my game backlog. Enjoy the snowy vibes! 🎄
      </p>
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .sidebar {
    background-color: var(--color-dark);
    height: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 650px) {
    .container {
      flex-direction: row;
    }

    .group {
      align-items: flex-end;
    }

    .content {
      flex: 1;
    }
  }
</style>
