:root {
	--color-bg: #e5eeff;
	--color-fg: #000000;
	--color-url: #0c4999;
	--gutter: 2rem;
	--content-width: calc(min(960px, 100% - var(--gutter) * 2));
}

@font-face {
	font-family: Gorton;
	src: url('/GortonPerfectedVF.woff2');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	line-height: 1.35;
}

html {
	font-family: Gorton, sans-serif;
	background: var(--color-bg);
	color: var(--color-fg);
}

a {
	color: var(--color-url);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.25rem;
	font-weight: 600;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

h3 {
	font-size: 1.1rem;
	font-weight: 500;
}

h4 {
	font-size: 1.1rem;
	font-style: italic;
}

img {
	max-width: 100%;
}

ol,
ul {
	padding-left: 1rem;
}

@media screen and (max-width: 650px) {
	:root {
		--gutter: 1rem;
	}
	p {
		text-align: left;
	}
}

@media print {
	a {
		color: black;
		text-decoration: underline;
	}
}
