:root {
	--color-bg: #e5eeff;
	--color-fg: #000000;
	--color-url: #0c4999;
	--gutter: 2rem;
	--content-width: calc(min(800px, 100% - var(--gutter) * 2));
}

@font-face {
	font-family: Berkeley;
	src: url('/berkeley.woff2');
	font-weight: 100 900;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-family: Berkeley, sans-serif;
	background: var(--color-bg);
	color: var(--color-fg);
	font-weight: 100;
}

a {
	color: var(--color-url);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.35rem;
	font-weight: 150;
}

h2 {
	font-size: 1.25rem;
	font-weight: 130;
}

h3 {
	font-size: 1.15rem;
	font-weight: 130;
}

h4 {
	font-size: 1.1rem;
	font-weight: 115;
	font-decoration: italic;
}

p {
	text-align: justify;
}

img {
	max-width: 100%;
}

@media screen and (max-width: calc(800px + 4rem)) {
	ol,
	ul {
		list-style-position: inside;
	}
}

@media screen and (max-width: 650px) {
	:root {
		--gutter: 1rem;
	}
	p {
		text-align: left;
	}
}

@media print {
	a {
		color: black;
		text-decoration: underline;
	}
}
