:root {
	--color-bg: #e5eeff;
	--color-fg: #000000;
	--color-url: #0c4999;
	--gutter: 2rem;
	--content-width: calc(min(960px, 100% - var(--gutter) * 2));
}

@font-face {
	font-family: Gorton;
	src: url("/GortonPerfectedVF.woff2");
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	line-height: 1.35;
}

html {
	font-family: Gorton, sans-serif;
	background: var(--color-bg);
	color: var(--color-fg);
}

a {
	color: var(--color-url);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.25rem;
	font-weight: 600;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

h3 {
	font-size: 1.1rem;
	font-weight: 500;
}

h4 {
	font-size: 1.1rem;
	font-style: italic;
}

img {
	max-width: max-content;
}

ol,
ul {
	padding-left: 1rem;
}

figcaption {
	font-size: 0.8em;
	background-color: #444444;
	padding: 0.25rem;
	color: #f2f2f2;
}

figcaption a {
	color: #b2b2ff;
}

figcaption a:hover {
	color: #e5e5ff;
	font-size: 0.75rem;
}

pre[class*="language-"] {
	font-size: 0.75rem;
}

code {
	background-color: #2e3440;
	border-radius: 0.3rem;
	color: #f8f8f2;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.0875rem;
	padding-bottom: 0.0875rem;
}

@media screen and (max-width: 650px) {
	:root {
		--gutter: 1rem;
	}
	p {
		text-align: left;
	}
}

@media print {
	a {
		color: black;
		text-decoration: underline;
	}
}
